.head {
  display: flex;
  justify-content: center;

  &__fullname {
    text-transform: uppercase;
    margin-bottom: 8px;

    &--colored {
      color: $color-brand;
      font-weight: 400;
    }
  }

  &__job-title {
    display: inline-block;
    padding-bottom: 5px;
    background: linear-gradient(0deg, $color-brand 0%, $color-brand 100%);
    background-clip: border-box;
    background-size: 25% 2px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
  }
}
