.testimonial {
  margin: 30px auto 0;

  &__fullname,
  &__job-title,
  &__phone-number {
    color: $color-text-alt;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__fullname {
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  @media (min-width: $breakpoint-small) {
    margin: 30px 0 0;
    width: 50%;
  }

  @media (min-width: $breakpoint-medium) {
    margin: 50px 0 0;
  }
}
