.header {
  margin: 35px 0 0;

  @media (min-width: $breakpoint-medium) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $breakpoint-large) {
    margin: 0;
    justify-content: flex-start;
  }
}
